.h2 Focals

.table
  .header
    .grid_2 Image 
    .grid_4 Title
    .grid_6 Text

  .clear

  .records.sortable{ :url => focals_sortable_url }
    - @masterpiece.focals.sorted.each do |focal|
      .record{ :id => focal.id }
        .grid_2= image_tag focal.image.thumb("100x100#").url
        .grid_4= focal.title
        .grid_6= format_text(focal.text)
        .grid_4
          = link_to 'view', project_masterpiece_focal_path(@project, @masterpiece, focal)
          \/
          = link_to 'edit', edit_admin_project_masterpiece_focal_path(@project, @masterpiece, focal)
          \/
          = button_to 'delete', [:admin, @project, @masterpiece, focal], :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
        .clear

  .clear


