= form_for [:admin, @project, @masterpiece], :html => {:multipart => true} do |f|
  -if @masterpiece.errors.any?
    #error_explanation
      %h2= "#{pluralize(@masterpiece.errors.count, "error")} prohibited this masterpiece from being saved:"
      %ul
        - @masterpiece.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :image_uid, 'Image (leave blank to keep current image)'
    = f.file_field :image
  .actions
    = f.submit 'Save'
