.breadcrumbs
  = link_to 'all projects', admin_projects_path
  >
  = link_to @project.name, [:admin, @project]
  >
  = link_to @masterpiece.title, [:admin, @project, @masterpiece]
  >
  edit

.h1 Edit Masterpiece

= render 'form'

%br

= link_to 'back to project', edit_admin_project_path(@project)
\/
= link_to 'new focal', new_admin_project_masterpiece_focal_path(@project, @masterpiece)

%br

= render :partial => 'focals'
