%h1 Listing admin_masterpieces

%table
  %tr
    %th Title
    %th Text
    %th Image uid
    %th Mini image uid
    %th Height
    %th Width
    %th
    %th
    %th

  - @admin_masterpieces.each do |admin_masterpiece|
    %tr
      %td= admin_masterpiece.title
      %td= admin_masterpiece.text
      %td= admin_masterpiece.image_uid
      %td= admin_masterpiece.mini_image_uid
      %td= admin_masterpiece.height
      %td= admin_masterpiece.width
      %td= link_to 'Show', admin_masterpiece
      %td= link_to 'Edit', edit_admin_masterpiece_path(admin_masterpiece)
      %td= link_to 'Destroy', admin_masterpiece, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Masterpiece', new_admin_masterpiece_path
