.breadcrumbs
  = link_to 'all projects', admin_projects_path
  >
  = link_to @project.name, [:admin, @project]
  >
  = @masterpiece.title

.h1 Masterpiece

.title= @masterpiece.title
.image= image_tag @masterpiece.image.thumb("300x300>").url
.text= @masterpiece.text

= link_to 'back to project', edit_admin_project_path(@project)
\/
= link_to 'edit masterpiece', edit_admin_project_masterpiece_path(@project, @masterpiece)
\/
= link_to 'view masterpiece', project_masterpiece_path(@project, @masterpiece)
\/
= link_to 'new focal', new_admin_project_masterpiece_focal_path(@project, @masterpiece)

%br

= render :partial => 'focals'
