- form_for work, :url => project_works_path(project), :html => { :multipart => true } do |f|
  - if work.errors.any?
    .errors
      - work.errors.full_messages.each do |msg|
        .error= msg

  %div= f.label :title
  %div= f.text_field :title

  %div= f.label :image
  - if work.image.present?
    %div= image_tag(work.image.process(:resize, '300x300>').url)
    %div (do not select a new image file to keep the current image)
  %div= f.file_field :image

  %div= f.label :text
  %div= f.text_area :text

  %div= f.submit

