.h2 Masterpieces

.clear

.table
  .header
    .grid_2 Image
    .grid_4 Title
    .grid_6 Text

  .clear

  .records.sortable{ :url => masterpieces_sortable_url }
    - @project.masterpieces.sorted.each do |masterpiece|
      .record{ :id => masterpiece.id }
        .grid_6
          .grid_2.alpha= image_tag masterpiece.image.thumb("100x100#").url
          .grid_4.omega= masterpiece.title
          .clear
          .subrecords.grid_6.alpha.omega
            .thumbs
              - masterpiece.focals.sorted.each do |focal|
                = image_tag focal.image.thumb("30x30#").url
            .count= "(#{masterpiece.focals.count} focals)"
        .grid_6= format_text(masterpiece.text)
        .grid_4
          = link_to 'view', project_masterpiece_path(@project, masterpiece)
          \/
          = link_to 'edit', edit_admin_project_masterpiece_path(@project, masterpiece)
          \/
          = button_to 'delete', [:admin, @project, masterpiece], :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
      .clear

  .clear

