.breadcrumbs
  = link_to 'all projects', admin_projects_path
  >
  = link_to @project.name, [:admin, @project]
  >
  edit

.h1 Edit Project

= render 'form'

%br

= link_to 'back to all projects', admin_projects_path
\/
= link_to 'view project', @project
\/
= link_to 'new masterpiece', new_admin_project_masterpiece_path(@project)

%br

= render :partial => 'masterpieces'
