.breadcrumbs
  = link_to 'all projects', admin_projects_path
  >
  = link_to @project.name, [:admin, @project]
  >
  edit

.h1 Edit Project

= render 'form'

%br

= link_to 'back to project', [:admin, @project]
\/
= link_to 'back to all projects', admin_projects_path

%br

= render :partial => 'masterpieces'
