%h1 Projects

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.name
      %td= link_to 'view', [:admin, project]
      %td= link_to 'edit', edit_admin_project_path(project)
      %td= link_to 'delete', [:admin, project], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'new project', new_admin_project_path
