.h1 Projects

.table
  .header
    .grid_6
      Name
  
  .clear

  .records
    - @projects.each do |project|
      .record
        .grid_6= project.name
        .grid_10
          = link_to 'view', [:admin, project]
          \/
          = link_to 'edit', edit_admin_project_path(project)
          \/
          = button_to 'delete', [:admin, project], :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
          \/
          %a{ :href => project_path(project) } see live &rarr;
        .clear
        .subrecords.grid_16
          .thumbs
            - project.masterpieces.sorted.each do |masterpiece|
              = image_tag masterpiece.image.thumb("30x30#").url
          .count= "(#{project.masterpieces.count} masterpieces)"
      .clear

%br

= link_to 'new project', new_admin_project_path
    
