.breadcrumbs
  = link_to 'all projects', admin_projects_path
  >
  = @project.name

.h1 Project

.title= @project.name

= link_to 'back to all projects', admin_projects_path
\/
= link_to 'edit project', edit_admin_project_path(@project)
\/
= link_to 'new masterpiece', new_admin_project_masterpiece_path(@project)

%br

= render :partial => 'masterpieces'
