= form_for @croppal do |f|
  -if @croppal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@croppal.errors.count, "error")} prohibited this croppal from being saved:"
      %ul
        - @croppal.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :masterpiece
    = f.text_field :masterpiece
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :cx
    = f.text_field :cx
  .field
    = f.label :cy
    = f.text_field :cy
  .field
    = f.label :radius
    = f.text_field :radius
  .field
    = f.label :color
    = f.text_field :color
  .field
    = f.label :top
    = f.text_field :top
  .field
    = f.label :left
    = f.text_field :left
  .field
    = f.label :height
    = f.text_field :height
  .field
    = f.label :width
    = f.text_field :width
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
