%h1 Listing croppals

%table
  %tr
    %th User
    %th Masterpiece
    %th Type
    %th Cx
    %th Cy
    %th Radius
    %th Color
    %th Top
    %th Left
    %th Height
    %th Width
    %th Description
    %th
    %th
    %th

  - @croppals.each do |croppal|
    %tr
      %td= croppal.user
      %td= croppal.masterpiece
      %td= croppal.type
      %td= croppal.cx
      %td= croppal.cy
      %td= croppal.radius
      %td= croppal.color
      %td= croppal.top
      %td= croppal.left
      %td= croppal.height
      %td= croppal.width
      %td= croppal.description
      %td= link_to 'Show', croppal
      %td= link_to 'Edit', edit_croppal_path(croppal)
      %td= link_to 'Destroy', croppal, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Croppal', new_croppal_path
