%p#notice= notice

%p
  %b Ctop:
  = @croppal.ctop
%p
  %b Cleft:
  = @croppal.cleft
%p
  %b Cheight:
  = @croppal.cheight
%p
  %b Cwidth:
  = @croppal.cwidth
%p
  %b Top:
  = @croppal.top
%p
  %b Left:
  = @croppal.left
%p
  %b Height:
  = @croppal.height
%p
  %b Width:
  = @croppal.width
%p
  %b Description:
  = @croppal.description

= link_to 'Edit', edit_croppal_path(@croppal)
\|
= link_to 'Back', croppals_path
