= form_for @masterpiece, :html => {:multipart => true} do |f|
  -if @masterpiece.errors.any?
    #error_explanation
      %h2= "#{pluralize(@masterpiece.errors.count, "error")} prohibited this masterpiece from being saved:"
      %ul
        - @masterpiece.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :image
    = f.file_field :image
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'create masterpiece'
