%h1 Listing masterpieces

%table
  %tr
    %th User
    %th Image uid
    %th Title
    %th Description
    %th
    %th
    %th

  - @masterpieces.each do |masterpiece|
    %tr
      %td= masterpiece.user
      %td= masterpiece.image_uid
      %td= masterpiece.title
      %td= masterpiece.description
      %td= link_to 'Show', masterpiece
      %td= link_to 'Edit', edit_masterpiece_path(masterpiece)
      %td= link_to 'Destroy', masterpiece, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Masterpiece', new_masterpiece_path
