%p#notice= notice

%p
  %b User:
  = @imageal.user
%p
  %b Masterpiece:
  = @imageal.masterpiece
%p
  %b Type:
  = @imageal.type
%p
  %b Cx:
  = @imageal.cx
%p
  %b Cy:
  = @imageal.cy
%p
  %b Radius:
  = @imageal.radius
%p
  %b Color:
  = @imageal.color
%p
  %b Image uid:
  = @imageal.image_uid
%p
  %b Top:
  = @imageal.top
%p
  %b Left:
  = @imageal.left
%p
  %b Height:
  = @imageal.height
%p
  %b Width:
  = @imageal.width
%p
  %b Description:
  = @imageal.description

= link_to 'Edit', edit_imageal_path(@imageal)
\|
= link_to 'Back', imageals_path
