%h1 Listing textals

%table
  %tr
    %th Top
    %th Left
    %th Height
    %th Width
    %th Text
    %th
    %th
    %th

  - @textals.each do |textal|
    %tr
      %td= textal.top
      %td= textal.left
      %td= textal.height
      %td= textal.width
      %td= textal.text
      %td= link_to 'Show', textal
      %td= link_to 'Edit', edit_textal_path(textal)
      %td= link_to 'Destroy', textal, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Textal', new_textal_path
