%h1 Listing textals

%table
  %tr
    %th User
    %th Masterpiece
    %th Type
    %th Cx
    %th Cy
    %th Radius
    %th Color
    %th Description
    %th
    %th
    %th

  - @textals.each do |textal|
    %tr
      %td= textal.user
      %td= textal.masterpiece
      %td= textal.type
      %td= textal.cx
      %td= textal.cy
      %td= textal.radius
      %td= textal.color
      %td= textal.description
      %td= link_to 'Show', textal
      %td= link_to 'Edit', edit_textal_path(textal)
      %td= link_to 'Destroy', textal, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Textal', new_textal_path
