%p#notice= notice

%p
  %b Top:
  = @textal.top
%p
  %b Left:
  = @textal.left
%p
  %b Height:
  = @textal.height
%p
  %b Width:
  = @textal.width
%p
  %b Text:
  = @textal.text

= link_to 'Edit', edit_textal_path(@textal)
\|
= link_to 'Back', textals_path
