%p#notice= notice

%p
  %b User:
  = @textal.user
%p
  %b Masterpiece:
  = @textal.masterpiece
%p
  %b Type:
  = @textal.type
%p
  %b Cx:
  = @textal.cx
%p
  %b Cy:
  = @textal.cy
%p
  %b Radius:
  = @textal.radius
%p
  %b Color:
  = @textal.color
%p
  %b Description:
  = @textal.description

= link_to 'Edit', edit_textal_path(@textal)
\|
= link_to 'Back', textals_path
