- content_for :javascripts do
  = javascript_include_tag "focals"
- content_for :stylesheets do
  = stylesheet_link_tag "focals"

= form_for [:admin, @project, @masterpiece, @focal], :html => {:multipart => true} do |f|
  -if @focal.errors.any?
    #error_explanation.error
      %h2= "#{pluralize(@focal.errors.count, "error")} prohibited this focal from being saved:"
      %ul
        - @focal.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :image, 'Image (leave blank to keep current image)'
    = f.file_field :image
  .field
    = f.label 'Position (click and drag to move/resize)'
    .hidden
      %label
        %input#hidden-focal{ :type => "checkbox", :checked => @focal.hidden? }
        hidden
        .explanation (a hidden focal will not appear on the image but will still be listed in the left side focal dropdown)      
    #masterpiece
      = image_tag @masterpiece.image.process(:resize, "960x960>").url
      #focal

  .field
    %input#actual-height{ :type => "hidden", :value => @masterpiece.image.height }
    %input#actual-width{ :type => "hidden", :value => @masterpiece.image.width }
    = f.hidden_field :height
    = f.hidden_field :width
    = f.hidden_field :x
    = f.hidden_field :y
  .actions
    = f.submit 'Save'
