= form_for [:admin, @project, @masterpiece, @focal], :html => {:multipart => true} do |f|
  -if @focal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@focal.errors.count, "error")} prohibited this focal from being saved:"
      %ul
        - @focal.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :image, 'Image'
    = f.file_field :image
  .field
    = f.label :height
    = f.text_field :height
  .field
    = f.label :width
    = f.text_field :width
  .field
    = f.label :x
    = f.text_field :x
  .field
    = f.label :y
    = f.text_field :y
  .actions
    = f.submit 'Save'
