.breadcrumbs
  = link_to 'all projects', admin_projects_path
  >
  = link_to @project.name, [:admin, @project]
  >
  = link_to @masterpiece.title, [:admin, @project, @masterpiece]
  >
  = link_to @focal.title, [:admin, @project, @masterpiece, @focal]
  >
  edit

.h1 Edit Focal

= render 'form'

%br

= link_to 'back to focal', [:admin, @project, @masterpiece, @focal]
\/
= link_to 'back to masterpiece', [:admin, @project, @masterpiece]
