.breadcrumbs
  = link_to 'all projects', admin_projects_path
  >
  = link_to @project.name, [:admin, @project]
  >
  = link_to @masterpiece.title, [:admin, @project, @masterpiece]
  >
  = link_to @focal.title, [:admin, @project, @masterpiece, @focal]
  >
  edit

.h1 Edit Focal

= render 'form'

%br

= link_to 'back to masterpiece', edit_admin_project_masterpiece_path(@project, @masterpiece)
\/
= link_to 'view focal', project_masterpiece_focal_path(@project, @masterpiece, @focal)
