.breadcrumbs
  = link_to 'all projects', admin_projects_path
  >
  = link_to @project.name, [:admin, @project]
  >
  = link_to @masterpiece.title, [:admin, @project, @masterpiece]
  >
  new focal

.h1 New Focal

= render 'form'

%br

= link_to 'back to masterpiece', [:admin, @project, @masterpiece]
\/
= link_to 'back to project', [:admin, @project]
