%p#notice= notice

%p
  %b Title:
  = @focal.title
%p
  %b Text:
  = @focal.text
%p
  %b Masterpiece:
  = @focal.masterpiece
%p
  %b Image uid:
  = @focal.image_uid
%p
  %b Height:
  = @focal.height
%p
  %b Width:
  = @focal.width
%p
  %b X:
  = @focal.x
%p
  %b Y:
  = @focal.y

= link_to 'Edit', edit_admin_project_masterpiece_focal_path(@project, @masterpiece, @focal)
\|
= link_to 'Back', [:admin, @project, @masterpiece]
