.breadcrumbs
  = link_to 'all projects', admin_projects_path
  >
  = link_to @project.name, [:admin, @project]
  >
  = link_to @masterpiece.title, [:admin, @project, @masterpiece]
  >
  = @focal.title

.h1 Focal

.title= @focal.title
.image= image_tag @focal.image.thumb("300x300>").url
.text= @focal.text

= link_to 'back to masterpiece', edit_admin_project_masterpiece_path(@project, @masterpiece)
\/
= link_to 'edit focal', edit_admin_project_masterpiece_focal_path(@project, @masterpiece, @focal)
