!!!
%html
  %head
    %title Kazanie

    <!-- meta -->
    = csrf_meta_tag

    <!-- stylesheets -->
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "960"
    = stylesheet_link_tag "kazanie"
    = yield :stylesheets

    <!-- javascripts -->
    = javascript_include_tag "lib/jquery-min.js"
    = javascript_include_tag "lib/underscore-min.js"
    = javascript_include_tag "lib/backbone-min.js"
    = javascript_include_tag "lib/icanhaz-min.js"
    = javascript_include_tag "lib/raphael-min.js"
    = yield :javascripts

  %body

    #header
      = render "shared/header"

    #body
      .container_16
        .notice= notice
        .alert= alert

        = yield

    #footer
      = render "shared/footer"
