!!!
%html
  %head
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "960"
    = stylesheet_link_tag "kazanie"
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    = yield :stylesheets

    = javascript_include_tag "lib/jquery-min"
    = javascript_include_tag "lib/jquery-ui-1.8.10.custom.min"
    = javascript_include_tag "util"
    = yield :javascripts

  %body

    #header
      .container_16
        .title= link_to 'kazanie', :root
        .signupinout
          - if user_signed_in?
            = "signed in as #{current_user.email}. not you?"
            = link_to "sign out", destroy_user_session_path
          - else
            = link_to "sign up", new_user_registration_path
            or
            = link_to "sign in", new_user_session_path


    #content
      .container_16

        .notice= notice
        .alert.error= alert

        = yield


    #footer
